body{
  background-color: #cae3f8;
  font-family: Arial;
  font-size: 14px;
  color: rgb(26, 25, 25);
}

.site-greetings{
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  font-size: 50px;
  
}

.subtitle{
  text-align: center;
  font-size: 18px;
  color: rgb(138, 136, 136);
  font-weight: normal;
  margin-top: 10px;
}

.main-body {
  width: 90%;
  max-width: 1000px;
  background-color: white;
  min-height: 800px;
  border-radius: 15px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  padding: 24px;
 
}

.Ttype {
  color: rgb(61, 60, 60);
  margin-top: 15px;
}

.button-row{
  display: flex;
  gap: 16px;
  margin-top: 10px;
}

.transcribe-btn{
  height: 120px;
  width: 220px;
  border-radius: 7px;
  border-color: rgb(230, 229, 229);
  border-style: solid;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  gap: 18px;
  padding-top: 20px;
  flex: 1 ;
  transition: transform 0.15s ease; box-shadow: 0.15 ease;
  
}

.transcribe-btn:hover{
  transform: scale(1.02);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.transcribe-btn.selected{
  border-color: rgb(103, 181, 233);
  background-color: #cae3f8;
  color: #3977eb;
}

.icon-img{
  width: 40px;
  height: auto;
}

.transcribe-btn.selected .icon-img {
  filter: brightness(0) saturate(100%)
   invert(32%) sepia(92%) saturate(3500%)
   hue-rotate(210deg) brightness(95%) contrast(95%);
}


.icon-text {
  font-size: 14px;
  color: black;
  text-align: center;
  
}


.transcribe-btn.selected .icon-text{
  color: blue;
}

.button-row{
  display: flex;
  justify-content: space-between;
 
}

.selection-box{
  display: flex;
  height: 220px;
  background-color: rgb(243, 233, 234);
  margin-top: 25px;
  border-radius: 7px;
  border-width: 2px;
  border-color: rgb(212, 208, 208);
  border-style: solid;
  padding: 20px;
  flex-direction: column;
  gap: 20px;
  
}

.glbe-img{
  height: 20px;
}

.box-title{
  display: flex;
  flex-direction: row;
  gap: 8px;
  
}

.Language-row{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.selection-box{
  color: rgb(66, 65, 65);
  font-size: 14px;
  
}

.Language-select{
  height: 50px;
  width: auto;
  border-radius: 7px;
  font-size: 17px;
  border-width: 2px;
  border-color: rgb(212, 208, 208);
  
}

.upload-box{
  height: 220px;
  width: auto;
  border-style: dashed;
  border-color: rgb(212, 208, 208);
  border-width: 2px;
  border-radius: 7px;
}

