body{
  background-color: #cae3f8;
  font-family: Arial;
}

.site-greetings{
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  font-size: 40px;
}

.subtitle{
  text-align: center;
  font-size: 18px;
  color: rgb(138, 136, 136);
  font-weight: normal;
  margin-top: 10px;
}

.main-body {
  width: 90%;
  max-width: 1000px;
  background-color: white;
  min-height: 800px;
  border-radius: 15px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
 
}

.Ttype {
  color: rgb(61, 60, 60);
  font-size: 16px;
  margin-top: 30px;
  margin-left: 20px;
}

.transcribe-btn{
  height: 120px;
  width: 220px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  border-radius: 5px;
  border-color: rgb(230, 229, 229);
  border-style: solid;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  gap: 15px;
  padding-top: 20px;
  flex: 1 ;
  transition: transform 0.15s ease; box-shadow: 0.15 ease;
  
}

.transcribe-btn:hover{
  transform: scale(1.02);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.transcribe-btn.selected{
  border-color: rgb(103, 181, 233);
  background-color: #cae3f8;
  color: #3977eb;
}

.icon-img{
  width: 40px;
  height: auto;
}

.transcribe-btn.selected .icon-img {
  filter: brightness(0) saturate(100%)
   invert(32%) sepia(92%) saturate(3500%)
   hue-rotate(210deg) brightness(95%) contrast(95%);
}


.icon-text {
  font-size: 14px;
  color: black;
  text-align: center;
  
}


.transcribe-btn.selected .icon-text{
  color: blue;
}

.button-row{
  display: flex;
  justify-content: space-between;
 
}
